/minggu1/nbproject/private/
/minggu1/build/
/minggu2/nbproject/private/
/minggu2/build/
/JavaApplication6/nbproject/private/
/minggu3/nbproject/private/
/minggu3/build/
/minggu3/src/EncapTest/nbproject/private/
/minggu3/src/EncapTest/build/
/minggu3/src/TestKoperasi/nbproject/private/
/minggu3/src/TestKoperasi/build/
/minggu4(kuis1)/nbproject/private/
/minggu4(kuis1)/build/
/minggu4 copy/nbproject/private/
/minggu4 copy/build/
/minggu5/nbproject/private/
/minggu5/build/
/minggu5/Tugas/nbproject/private/
/minggu5/Tugas/build/
/minggu6/nbproject/private/
/minggu6/build/
/minggu6/src/Jobsheet6/nbproject/private/
/minggu6/src/Jobsheet6/build/
/minggu6/src/Tugas/nbproject/private/
/minggu6/src/Tugas/build/
/minggu6/src/P6-PBO-Teori/nbproject/private/
/minggu6/src/P6-PBO-Teori/build/
/JavaApplication24/nbproject/private/
/minggu7/nbproject/private/
/minggu7/build/
/minggu8/nbproject/private/
/minggu8/build/
/minggu9/nbproject/private/
/minggu9/build/
/src/Tugas/nbproject/private/
/src/Tugas/build/
